.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.collection-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5px;
  color: #fff;
}

.collection-cont .collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.collection-cont .collection span {
  border-radius: 5px;
  color: black;
  padding: 5px;
  font-weight: 500;
  position: absolute;
  top: 5px;
  right: 5px;
}
