@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e8f0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #1890ff;
  font-weight: 700;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
}

.signup {
  padding-top: 15px;
}

.main .main-cont {
  width: 450px;
  height: fit-content;
}

.main .main-cont h2 {
  text-align: center;
  font-size: 26px;
}

.main .main-cont p {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.main .main-cont .inp-cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

#logo {
  color: #fff;
  order: 1;
}

#logoMobile {
  display: none;
}

#searchBar {
  width: 40%;
  order: 2;
}

#account {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 3;
}

#itemRow {
  justify-content: space-between;
  align-items: center;
}

.ant-form-item-label > label {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  #itemRow {
    flex-direction: column;
    align-items: flex-start;
  }
}

.topic {
  background-color: cadetblue;
  position: absolute;
  top: 0;
  right: 0px;
  padding: 5px;
  font-weight: 500;
  border-radius: 10px;
}

.collectionPic {
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

@media screen and (max-width: 540px) {
  #logo {
    display: none;
  }

  #logoMobile {
    display: unset;
  }
}

@media screen and (max-width: 768px) {
  #searchBar {
    order: 3;
    width: 100%;
  }

  #account {
    order: 2;
  }
}
